{% set same_as = [] %}

{% if settings.social_instagram %}
    {% set same_as = same_as | merge([settings.social_instagram]) %}
{% endif %}

{% if settings.social_facebook %}
    {% set same_as = same_as | merge([settings.social_facebook]) %}
{% endif %}

{% if settings.social_youtube %}
    {% set same_as = same_as | merge([settings.social_youtube]) %}
{% endif %}

{% if settings.social_tiktok %}
    {% set same_as = same_as | merge([settings.social_tiktok]) %}
{% endif %}

{% if settings.social_linkedin %}
    {% set same_as = same_as | merge([settings.social_linkedin]) %}
{% endif %}

{% if settings.social_pinterest %}
    {% set same_as = same_as | merge([settings.social_pinterest]) %}
{% endif %}

{% if settings.social_twitter %}
    {% set same_as = same_as | merge([settings.social_twitter]) %}
{% endif %}

{% set organization_logo = settings.logo ? asset(settings.logo) : asset('img/logo.svg') %}
{% set contact_phone = settings.whatsapp_number ? settings.whatsapp_number : settings.phone %}
{% set contact_phone = contact_phone | replace({'(': '', ')': '', '-': '', ' ': ''}) %}
{% set contact_phone = contact_phone ? '+55' ~ contact_phone : '' %}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "{{ store.name | replace({'"': '\"'}) }}",
        "url": "{{ store.url }}",
        "logo": "{{ organization_logo }}"{% if same_as | length or contact_phone or settings.email_contact %},{% endif %}
        {% if same_as | length %}
        "sameAs": [
            {% for social in same_as %}
                "{{ social }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ]{% if contact_phone or settings.email_contact %},{% endif %}
        {% endif %}
        {% if contact_phone %}
        "contactPoint": [
            {
                "@type": "ContactPoint",
                "telephone": "{{ contact_phone }}",
                "contactType": "customer service",
                "areaServed": "BR",
                "availableLanguage": "pt-BR"{% if settings.email_contact %},{% endif %}
                {% if settings.email_contact %}
                "email": "{{ settings.email_contact }}"
                {% endif %}
            }
        ]
        {% elseif settings.email_contact %}
        "contactPoint": [
            {
                "@type": "ContactPoint",
                "email": "{{ settings.email_contact }}",
                "contactType": "customer service",
                "areaServed": "BR",
                "availableLanguage": "pt-BR"
            }
        ]
        {% endif %}
    }
</script>
